.QuizCreator {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  flex-grow: 1;
  width: 100%;
  background: #e2e2e2;
  color: #385a64;
}

.QuizCreator > div {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.QuizCreator h1 {
  text-align: center;
}

.QuizCreator form {
  border: 1px solid #385a64;
  border-radius: 20px;
  padding: 15px;
}

.QuizCreator input {
  height: 40px;
  border-radius: 10px;
}

.QuizCreator button {
  text-align: center;
  border-radius: 10px;
}

.QuizCreator button:active {
  transform: scale(1.1);
  transition-duration: 300ms;
}
