.Auth {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #385a64;
}

.Auth form {
  margin-bottom: 100px;
}

.Auth input {
  max-height: 40px;
  border-radius: 15px;
}

.Auth input:focus {
  box-shadow: 1px 1px 4px #ff530f;
}

.Auth button {
  border-radius: 20px;
}

.Auth button:active {
  transform: scale(1.1);
  transition-duration: 300ms;
}

@media screen and (max-width: 1300px) {
  .Auth img {
    width: 700px;
  }
}

@media screen and (max-width: 1000px) {
  .Auth {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  .Auth img {
    width: 400px;
  }
}
