.Auth {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  background: #ececec;
}

.BackgroundPicture {
  background: #fff;
  grid-column: 1;
  text-align: center;
}

.BackgroundPicture img {
  width: 900px;
}

.LogIn {
  grid-column: 2;
  width: 100%;
  max-width: 600px;
  padding: 200px 20px;
}

.AuthForm {
  padding: 0 40px;
  color: #385a64;
}

.LogIn .AuthForm input {
  width: 380px;
  height: 55px;
  border-radius: 15px;
  margin-bottom: 30px;
  border: none;
}

.LogIn .AuthForm button {
  text-align: center;
  padding: 15px;
  font-size: 15px;
  border-radius: 15px;
}
