.Auth {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  color: #385a64;
}

.Auth form {
  min-width: 290px;
  padding: 20px;
  margin-bottom: 100px;
}

.Auth input {
  max-height: 40px;
  border-radius: 15px;
}

.Auth input:focus {
  box-shadow: 1px 1px 4px #ff530f;
}

.Auth button {
  border-radius: 20px;
}

.Auth button:last-child {
  margin: 0;
}

.Auth button:active {
  transform: scale(1.1);
  transition-duration: 300ms;
}

@media all and (max-width: 1280px) {
  .Auth img {
    width: 100%;
  }
}

@media all and (max-width: 1024px) {
  .Auth {
    flex-wrap: wrap;
    width: 90%;
  }
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
}
